.svn
.depend
.cproject
.project
.makepp
.settings
.csettings
.paths
*.out
*.exe
################ config
config.log
config.status
################ C 
*.cil.c
*.i
*.ii
*.o
*.a
################ Ocaml
*.cmi
*.cmx
*.cmo
*.cma
*.cmxa
################ CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
################ Specific
Makefile
README.html
TODO
update-protocols
ignore

bin/
old
tests/CryptokiX/*
tests/minexplib/*
tests/polarssl-1.1.1/*

deps/cryptoverif1.11/
deps/cryptoverif1.12/cryptoverif
deps/cryptoverif1.13/
deps/proverif1.84/proverif
deps/proverif1.84/proveriftotex

deps/cil-1.7.3/Makefile.features
deps/cil-1.7.3/_build/
deps/cil-1.7.3/config.h
deps/cil-1.7.3/config.mk
deps/cil-1.7.3/doc/header.html
deps/cil-1.7.3/doc/index.html
deps/cil-1.7.3/lib/App/Cilly.pm
deps/cil-1.7.3/lib/App/Cilly/CilConfig.pm
deps/cil-1.7.3/lib/MYMETA.json
deps/cil-1.7.3/lib/MYMETA.yml
deps/cil-1.7.3/lib/blib/
deps/cil-1.7.3/lib/pm_to_blib
deps/cil-1.7.3/src/machdep-ml.c
deps/cil-1.7.3/stamp-h

deps/ocamlyices/.travis-ocaml.sh
deps/ocamlyices/.travis.yml
deps/ocamlyices/ml.sed
deps/ocamlyices/mli.sed
deps/ocamlyices/test/

mk/pod2html.mk

src/bintrace
src/symtrace/cvtrace
src/symtrace/imltrace
src/symtrace/run_tests
src/symtrace/doc

tests/instrumentation
tests/openssl-1.0.0d
tests/CryptokiX-clean
tests/CryptokiX-sec-templates.tgz
tests/CryptokiX.tgz
tests/README.html
tests/polarssl-1.1.1-gpl.tgz
tests/unused

tests/CSur/Makefile
tests/CSur/Old
tests/CSur/alice
tests/CSur/bob
tests/CSur/derived
tests/CSur/observations.txt
tests/CSur/unnecessary

tests/NSL-real

tests/NSL/Makefile
tests/NSL/client
tests/NSL/manual/
tests/NSL/pv/
tests/NSL/server
tests/NSL/test

tests/RPC-enc/ByteString.h
tests/RPC-enc/manual/
tests/RPC-enc/notes.txt
tests/RPC-enc/pv/
tests/RPC/Makefile
tests/RPC/manual/
tests/RPC/observations.txt
tests/RPC/pv/
tests/simple_hash/Makefile
tests/simple_hash/client
tests/simple_hash/manual/
tests/simple_hash/pv/
tests/simple_hash/server
tests/simple_xor/Makefile
tests/simple_xor/client
tests/simple_xor/manual/
tests/simple_xor/server
